@{
    ViewData["HomeTitle"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">@ViewData["HomeTitle"]</h1>
    <br/>
    <br/>
    <h3>Khanh Linh Nguyen</h3>
    <h3>ID: A01313185</h3>
    <p>When I graduate, I want to be a Software Engineer</p>
</div>
